@page "/EventProductManagement/{EventId}"
<h1>Event Product Management</h1>



<NavigateButton PageToNavigateTo="AddStand/{EventId}" ButtonText="Add stand to event"/>
<div>
    <table class="table table-hover" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Event</th>
                <th scope="col">Functipnality</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach(EventStandModel stand in _eventStands){
            
            
            <tr>   
                <td>@stand.Name</td>
                <td>@stand.Event.Name</td>
                <td>@stand.Functionalities.Name</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary m-1" @onclick="() => Toggle(stand.Name)">Edit content</button>
                        <button class="btn btn-danger m-1" @onclick="DeleteStandAndContent">Delete</button>
                    </div>
                </td>
            </tr>
                @if (_stringList.Contains(stand.Name))
                {
                    <tr class="table-danger">
                        <td>
                            <label>New name</label> 
                            <input class="form-control" id="name" @bind="_newName" placeholder="Name"/>
                            <button class="btn btn-primary m-1" @onclick="@(e=>ChanceName(stand))">Chance</button></td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Product</td>
                                        <td>Value</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(StandProductModel product in stand.standProducts){
                                          <tr>
                                              <td>@product.Name</td>
                                              <td>@product.Value</td>
                                              <td><button class="btn btn-danger m-1" @onclick="@(e=>DeleteProduct(stand, product))">D</button></td>
                                         </tr>
                                    }
                                  
                              </tbody>
                              
                          </table>
                      </td>
                      <td>
                          <EditForm Model="@_standProductReq" OnSubmit="@(e => HandleValidSubmit(stand))">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>
                             <div class="form-group">
                                    <label for="@_standProductReq.Name">Name</label> 
                                    <InputText class="form-control" id="name" @bind-Value="_standProductReq.Name" placeholder="Product"/>
                                </div>
                                <div class="form-group">
                                    <label for="@_standProductReq.Value">Value</label> 
                                    <InputNumber class="form-control" id="value" @bind-Value="_standProductReq.Value" placeholder="Value"/>
                                </div>

                                <button class="btn btn-primary m-1" type="submit">Submit</button>
                                   
                          </EditForm>
                      </td>
                      <td>tomt</td>
                    </tr>
                }
                
       
        }
         </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string EventId { get; set; }

    private List<string> _stringList = new List<string>();
    private StandProductModel _standProductReq = new StandProductModel();
    private string _newName;


    private List<EventStandModel> _eventStands = new List<EventStandModel>();

    protected override async Task OnInitializedAsync()
    {
        _eventStands.Add(new EventStandModel("test", new EventModel("EventTest", new CompanyModel()),new StandFunctionalityModel()));
        _eventStands.Add(new EventStandModel("test2", new EventModel("EventTest2", new CompanyModel()),new StandFunctionalityModel()));
    }

    private async void DeleteStandAndContent()
    {

        // TODO Delete Stand and content
    }

    private async void DeleteProduct(EventStandModel stand,StandProductModel product)
    {
        _eventStands.Find(x => x.Name == stand.Name).standProducts.Remove(product);
        // TODO Delete Product
    }

    private void HandleValidSubmit(EventStandModel eventStand)
    {

        //EventStandModel item = _eventStands.Find(x => x.Name == eventStand.Name);
        _eventStands.Find(x => x.Name == eventStand.Name).standProducts.Add(_standProductReq);
        _standProductReq = new StandProductModel();

        // TODO: add submit product

    }

    private void ChanceName(EventStandModel stand)
    {
        _eventStands.Find(x => x.Name == stand.Name).Name = _newName;
        _newName = "";
        // TODO update Name

    }

    private void Toggle(string name)
    {
        if (_stringList.Contains(name))
        {
            _stringList.Remove(name);

        } else
        {
            _stringList.Add(name);

        }
        
    }
}