@page "/EventProductManagement/{EventId}"
<h1>Event Product Management</h1>
<h3>@_eventModel.Name</h3>



@*<NavigateButton PageToNavigateTo="AddStand/{EventId}" ButtonText="Add stand to event"/>*@

<div class="row">
    <div class="col-2">
    <button class="btn btn-info m-1" @onclick="() => ToggleAddStand()">New stand</button>

    </div>
            @if (_toggleAddStand)
            {
                <div class="col-10 row">
                    <EditForm class="row" Model="@_eventStandReq" OnValidSubmit="@HandleValidSubmitEventStand">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>
                             <div class="form-group col-4">
                                    <label for="@_eventStandReq.Name">Stand Name</label> 
                                    <InputText class="form-control" id="name" @bind-Value="_eventStandReq.Name" placeholder="Stand Name"/>
                                </div>
                                <div class="form-group col-4">
                                    <label for="@_eventStandReq.standProducts">Group</label> 
                                    <InputSelect class="form-control" id="value" @bind-Value="_eventStandReq.NewStandFuncName">
                                        @foreach(StandFunctionalityModel item in _standFunktionalities){
                                           
                                            
                                                <option value="@item.Name">@item.Name</option>
                                            
                        
                                         }
                                    </InputSelect>
                                </div>

                                <button class="btn btn-primary m-1 col-2" type="submit">Submit</button>
                                   
                          </EditForm>
                </div>

            }
</div>

<div>
    <table class="table table-hover" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Functipnality</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach(EventStandModel stand in _eventStands){
            
            
            <tr>   
                <td>@stand.Name</td>
                <td>@stand.Functionalities.Name</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary m-1" @onclick="() => Toggle(stand.Name)">Edit content</button>
                        <button class="btn btn-danger m-1" @onclick="@(e => DeleteStandAndContent(stand))">Delete</button>
                    </div>
                </td>
            </tr>
                @if (_stringList.Contains(stand.Name))
                {
                    <tr class="table-danger">
                        <td>
                            <label>New name</label> 
                            <input class="form-control" id="name" @bind="_newName" placeholder="Name"/>
                            <button class="btn btn-primary m-1" @onclick="@(e=>ChangeName(stand))">Chance</button></td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Product</td>
                                        <td>Value</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(StandProductModel product in stand.standProducts){
                                          <tr>
                                              <td>@product.Name</td>
                                              <td>@product.Value</td>
                                              <td><button class="btn btn-danger m-1" @onclick="@(e=>DeleteProduct(stand, product))">D</button></td>
                                         </tr>
                                    }
                                  
                              </tbody>
                              
                          </table>
                      </td>
                      <td>
                          <EditForm Model="@_standProductReq" OnSubmit="@(e => HandleValidSubmit(stand))">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>
                             <div class="form-group">
                                    <label for="@_standProductReq.Name">Name</label> 
                                    <InputText class="form-control" id="name" @bind-Value="_standProductReq.Name" placeholder="Product"/>
                                </div>
                                <div class="form-group">
                                    <label for="@_standProductReq.Value">Value</label> 
                                    <InputNumber class="form-control" id="value" @bind-Value="_standProductReq.Value" placeholder="Value"/>
                                </div>

                                <button class="btn btn-primary m-1" type="submit">Submit</button>
                                   
                          </EditForm>
                      </td>
                    </tr>
                }
                
       
        }
         </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string EventId { get; set; }
    public EventModel _eventModel;
    private bool _toggleAddStand = false;
    private List<string> _stringList = new List<string>();
    private StandProductModel _standProductReq = new StandProductModel();
    private EventStandModel _eventStandReq = new EventStandModel();
    private List<StandFunctionalityModel> _standFunktionalities = new List<StandFunctionalityModel>();
    private string _newName;


    private List<EventStandModel> _eventStands = new List<EventStandModel>();

    protected override async Task OnInitializedAsync()
    {
        _eventModel = new EventModel("EventTest3",new CompanyModel());
        _standFunktionalities.Add(new StandFunctionalityModel("Products"));
        _standFunktionalities.Add(new StandFunctionalityModel("Entry"));
        _eventStands.Add(new EventStandModel("test", _eventModel, _standFunktionalities[0]));
        _eventStands.Add(new EventStandModel("test2", _eventModel, _standFunktionalities[1]));
        _eventStandReq.NewStandFuncName = _standFunktionalities[0].Name;

    }

    private async void DeleteStandAndContent(EventStandModel stand)
    {
        _eventStands.Remove(stand);
        // TODO Delete Stand and content
    }

    private async void DeleteProduct(EventStandModel stand,StandProductModel product)
    {
        _eventStands.Find(x => x.Name == stand.Name).standProducts.Remove(product);
        // TODO Delete Product
    }

    private void HandleValidSubmit(EventStandModel eventStand)
    {

        //EventStandModel item = _eventStands.Find(x => x.Name == eventStand.Name);
        _eventStands.Find(x => x.Name == eventStand.Name).standProducts.Add(_standProductReq);
        _standProductReq = new StandProductModel();

        // TODO add submit product

    }

    private void HandleValidSubmitEventStand()
    {
        _eventStandReq.Event = _eventModel;
        _eventStandReq.Functionalities = new StandFunctionalityModel(_eventStandReq.NewStandFuncName);
        _eventStands.Add(new EventStandModel(_eventStandReq.Name,_eventStandReq.Event, _eventStandReq.Functionalities));
        
        _eventStandReq = new EventStandModel();
        // TODO add event stand to db
    }

    private void ChangeName(EventStandModel stand)
    {
        _eventStands.Find(x => x.Name == stand.Name).Name = _newName;
        _newName = "";
        // TODO update Name

    }

    private void ToggleAddStand()
    {
        _toggleAddStand = !_toggleAddStand;
    }

    private void Toggle(string name)
    {
        if (_stringList.Contains(name))
        {
            _stringList.Remove(name);

        } else
        {
            _stringList.Add(name);

        }
        
    }
}