@page "/Events"

<h1>Events</h1>

<NavigateButton PageToNavigateTo="AddEvent" ButtonText="Add"/>

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Event Name</th>
            <th scope="col">Company</th>
            <th scope="col">No. of Chips</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach(EventModel eventModel in _temporaryData){
        <tr>
            <td>@eventModel.Id</td>
            <td>@eventModel.Name</td>
            <td>@eventModel.Company.Name</td>
            <td>@eventModel.AmountOfConnectedChips</td>
            <td>
                <NavigateButton PageToNavigateTo=@(NavigationArgument("EditEvent/", eventModel.Id)) ButtonText="Edit event"/>
                <NavigateButton PageToNavigateTo="@(NavigationArgument("EditProductStands/", eventModel.Id))" ButtonText="Edit products"/>
            </td>
        </tr>
       }
    </tbody>
</table>

@code{
    private List<EventModel> _eventData;
    private List<EventModel> _temporaryData = new List<EventModel>
    {
        new EventModel(143, "Oktoberfest 2021", new Company("Aalborg Festudvalg", "", "", "", "", "", "", ""), 500),
        new EventModel(144, "Oktoberfest 2022", new Company("Aalborg Festudvalg", "", "", "", "", "", "", ""), 500)
    };
    private string NavigationArgument(string navigationPrefix, int modelId)
    {
        return $"{navigationPrefix}{modelId}";
    }
    //private List<Event> FetchEventData()
    //{
    //    return new List<Event>();
    //}
    // TODO: Fetch event data from API and put them in the table.
}
