@page "/Profile/{Id}"
@page "/Profile"

@using IdeventLibrary.Repositories
@using System.Security.Claims

@inject NavigationManager _navigationManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

<h1>Profile</h1>

@_key

@if (_profileData != null)
{
     <div class="form-group">
        <label for="@_profileData.Id">Id</label> 
        <label class="form-control" id="id" Value="@_profileData.Id" placeholder="Id">@_profileData.Id</label>
    </div>
    <div class="form-group">
        <label for="@_profileData.Email">Email</label> 
        <label class="form-control" id="email" Value="@_profileData.Email" placeholder="Email">"@_profileData.Email</label>
    </div>
}

<br/>

<NavigateButton PageToNavigateTo="Home" ButtonText="Back"/>


@code {
    [Parameter]

    public string Id { get; set; }
    private string _key;

    protected override async Task OnInitializedAsync()
    {
        _key = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;

        try
        {
            UserRepository userRepo = new UserRepository();

            _profileData = await userRepo.GetUserById(_key);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private UserModel _profileData;


}
