@page "/CompanyDetails/{CompanyId}"

@using IdeventLibrary.Repositories
@inject NavigationManager _navigationManager


<h1>Company Details: @_companyReq.Name</h1>

 <NavigateButton PageToNavigateTo="Companies" ButtonText="Back"/>
 <NavigateButton PageToNavigateTo=@(NavigationArgument("EditCompany/", Convert.ToInt32(CompanyId))) ButtonText="Edit company" />

    <div class="form-group">
        <label for="@_companyReq.Name">Name</label> 
        <label class="form-control" id="name" Value="@_companyReq.Name" placeholder="Company name">@_companyReq.Name</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Email">Email</label> 
        <label class="form-control" id="email" Value="@_companyReq.Email" placeholder="Company Email">"@_companyReq.Email</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.CVR">CVR</label>
        <label class="form-control" id="cvr" Value="@_companyReq.CVR" placeholder="CVR">@_companyReq.CVR</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.PhoneNumber">Phone</label>
        <label class="form-control" id="phone" Value="@_companyReq.PhoneNumber" placeholder="Phone number">@_companyReq.PhoneNumber</label>
    </div>

    <div class="form-group">
        <label for="@_companyReq.Address.StreetAddress">Street</label>
        <label class="form-control" id="address_street" Value="@_companyReq.Address.StreetAddress" placeholder="Street and number">@_companyReq.Address.StreetAddress</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.City">City</label>
        <label class="form-control" id="address_city" Value="@_companyReq.Address.City" placeholder="City">@_companyReq.Address.City</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.PostalCode">Zipcode</label>
        <label class="form-control" id="address_postal" Value="@_companyReq.Address.PostalCode" placeholder="Postal">@_companyReq.Address.PostalCode</label>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.Country">Country</label>
        <label class="form-control" id="address_country" Value="@_companyReq.Address.Country" placeholder="Country">@_companyReq.Address.Country</label>
    </div>
    <div>
        <button type="button" class="btn btn-link m-4" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Seperated Invoice address</h4>
        </button>
        <div id="collapseOne" class="collapse">
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.StreetAddress">Street</label>
                <label class="form-control" id="address_street" Value="@_companyReq.InvoiceAddress.StreetAddress" placeholder="Street and number">@_companyReq.InvoiceAddress.StreetAddress</label>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.City">City</label>
                <label class="form-control" id="address_city" Value="@_companyReq.InvoiceAddress.City" placeholder="City">@_companyReq.InvoiceAddress.City</label>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.PostalCode">Zipcode</label>
                <label class="form-control" id="address_postal" Value="@_companyReq.InvoiceAddress.PostalCode" placeholder="Postal">@_companyReq.InvoiceAddress.PostalCode</label>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.Country">Country</label>
                <label class="form-control" id="address_country" Value="@_companyReq.InvoiceAddress.Country" placeholder="Country">@_companyReq.InvoiceAddress.Country</label>
            </div>
        </div>
    </div>

   

@code {
    [Parameter]
    public string CompanyId { get; set; }

    private CompanyModel _companyReq;
    private CompanyRepository _companyRepository = new CompanyRepository();
    //private AddressRepository _addressRepository = new AddressRepository();

    protected override async Task OnInitializedAsync()
    {
        _companyReq = new CompanyModel();
        _companyReq = await _companyRepository.GetAsync(Convert.ToInt32(CompanyId));
        //_companyReq.Address = await _addressRepository.

    }
    private string NavigationArgument(string navigationPrefix, int modelId)
    {
        return $"{navigationPrefix}{modelId}";
    }
  
}
