@page "/EditCompany/{CompanyId}"

@using IdeventLibrary.Repositories
@inject NavigationManager _navigationManager

<h3>EditCompany</h3>

<EditForm Model="@_companyReq" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="@_companyReq.Name">Name</label> 
        <InputText class="form-control" id="name" @bind-Value="_companyReq.Name" placeholder="Company name"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Email">Email</label> 
        <InputText class="form-control" id="email" @bind-Value="_companyReq.Email" placeholder="Company Email"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.CVR">CVR</label>
        <InputText class="form-control" id="cvr" @bind-Value="_companyReq.CVR" placeholder="CVR"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.PhoneNumber">Phone</label>
        <InputText class="form-control" id="phone" @bind-Value="_companyReq.PhoneNumber" placeholder="Phone number"/>
    </div>

    <div class="form-group">
        <label for="@_companyReq.Address.StreetAddress">Street</label>
        <InputText class="form-control" id="address_street" @bind-Value="_companyReq.Address.StreetAddress" placeholder="Street and number"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.City">City</label>
        <InputText class="form-control" id="address_city" @bind-Value="_companyReq.Address.City" placeholder="City"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.PostalCode">Zipcode</label>
        <InputText class="form-control" id="address_postal" @bind-Value="_companyReq.Address.PostalCode" placeholder="Postal"/>
    </div>
    <div class="form-group">
        <label for="@_companyReq.Address.Country">Country</label>
        <InputText class="form-control" id="address_country" @bind-Value="_companyReq.Address.Country" placeholder="Country"/>
    </div>
    <div>
        <button type="button" class="btn btn-link m-4" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Seperated Invoice address</h4>
        </button>
        <div id="collapseOne" class="collapse">
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.StreetAddress">Street</label>
                <InputText class="form-control" id="address_street" @bind-Value="_companyReq.InvoiceAddress.StreetAddress" placeholder="Street and number"/>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.City">City</label>
                <InputText class="form-control" id="address_city" @bind-Value="_companyReq.InvoiceAddress.City" placeholder="City"/>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.PostalCode">Zipcode</label>
                <InputText class="form-control" id="address_postal" @bind-Value="_companyReq.InvoiceAddress.PostalCode" placeholder="Postal"/>
            </div>
            <div class="form-group">
                <label for="@_companyReq.InvoiceAddress.Country">Country</label>
                <InputText class="form-control" id="address_country" @bind-Value="_companyReq.InvoiceAddress.Country" placeholder="Country"/>
            </div>
        </div>
    </div>
    
    
    
    <button class="btn btn-primary m-1" type="submit">Submit</button>
    <NavigateButton PageToNavigateTo=@(NavigationArgument("DetailCompany/", Convert.ToInt32(CompanyId))) ButtonText="Cancel" HtmlClasses="btn-danger"/>
 
</EditForm>


@code {

    [Parameter]
    public string CompanyId { get; set; }

    private CompanyModel _companyReq;
    private CompanyRepository _companyRepository = new CompanyRepository();
    //private AddressRepository _addressRepository = new AddressRepository();

    protected override async Task OnInitializedAsync()
    {
        _companyReq = new CompanyModel();
        _companyReq = await _companyRepository.GetAsync(Convert.ToInt32(CompanyId));
        //_companyReq.Address = await _addressRepository.

    }

    private async Task HandleValidSubmit()
    {
       
        var result = await _companyRepository.UpdateAsync(_companyReq);
        if(result != null)
        {
            _navigationManager.NavigateTo("Companies");
        }
        // TODO: add submit company

    }

    private string NavigationArgument(string navigationPrefix, int modelId)
    {
        return $"{navigationPrefix}{modelId}";
    }
}
